@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit, sans-serif;
    
}

.rich-text { font-size: 15px; color: #7A7B7D; }

.rich-text p { margin-bottom: 16px; }

.rich-text h1 { font-size: 36px; font-weight: 800; color: #252525; margin: 32px 0; }

.rich-text h2 { font-size: 22px; font-weight: 700; color: #252525; margin: 24px 0; }

.rich-text h3 { font-size: 18px; font-weight: 600; color: #333333; margin: 20px 0; }

.rich-text h4 { font-size: 16px; font-weight: 500; color: #444444; margin: 16px 0; }

.rich-text h5 { font-size: 14px; font-weight: 400; color: #555555; margin: 12px 0; }

.rich-text h6 { font-size: 12px; font-weight: 400; color: #666666; margin: 8px 0; }

.rich-text strong { font-weight: 700; }

.rich-text ol { margin-left: 30px; list-style-type: decimal; }

.rich-text ul { margin-left: 30px; list-style-type: disc; }

.rich-text li { margin-bottom: 8px; }

@layer base {
    html{
        scroll-behavior: smooth;
    }
}

::-webkit-scrollbar{
    display: none;
}
button{
    cursor: pointer;
}

.label { @apply block text-sm font-medium text-gray-600 mb-1; }
.input { @apply w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 outline-none; }
.btn-primary { @apply px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600; }
.btn-submit { @apply px-8 py-3 bg-black text-white rounded-lg hover:bg-gray-800; }
.upload-box { @apply flex items-center gap-3 border-2 border-dashed rounded-lg p-3 cursor-pointer hover:border-blue-500; }
